:root {
  --main-font: "Poppins", sans-serif;
  --secondary-font: "Baloo 2", cursive;
  --main-color: rgba(8, 144, 255, 0.1);
}
h1,
h2,
h3,
h4 {
  color: black;
  font-family: var(--main-font);
}
h2 {
  font-weight: 400 !important;
}
h1 {
  font-weight: 500 !important;
}
h3,
h4 {
  font-weight: 300 !important;
}
p {
  font-family: var(--secondary-font);
  font-weight: 400 !important;
  text-align: center;
  padding: 10px;
}
.hero {
  background: #e8e3dc;
  text-align: center;
  padding: 160px 20px;
}
.hero .main-contact-btn {
  text-decoration: none;
  color: white;
  background: black;
  padding: 15px 30px;
  font-size: 15px;
  border-radius: 4px;
}

.about-content {
  padding: 160px;
}
.about-content img {
  max-width: 100%;
  padding: 5px;
  border: 0.5px solid #ffc108;
}
.projects-introduction {
  font-family: var(--secondary-font);
  font-weight: 500 !important;
  font-size: 35px;
  padding: 20px 20px;
}

.navigation-content {
  font-family: var(--main-font);
}
.contact-box {
  background: var(--main-color);
  padding: 20px 30px;
  margin: 20px auto;
  max-width: 500px;
}
.contact-box a {
  text-decoration: none;
  color: black;
  font-family: var(--secondary-font);
}
.contact-box a:hover {
  color: black;
}
footer a {
  color: black;
  padding: 20px;
}
footer a:hover {
  color: #ffc108;
}
